
  .zscroller-scrollbar-y {
    position: absolute;
    z-index: 9999;
    width: 7px;
    bottom: 2px;
    top: 2px;
    right: 1px;
    overflow: hidden;
    transform: translateZ(0px);
    transition-property: opacity;
    transition-duration: 250ms;
  }

  .zscroller-indicator-y {
    box-sizing: border-box;
    position: absolute;
    border-color: #ababab;
  background-color: #c9c9c9;
  border-radius: 7px;
    width: 100%;
    display: block;
  }

  .zscroller-scrollbar-x {
    position: absolute;
    z-index: 9999;
    height: 7px;
    left: 2px;
    right: 2px;
    bottom: 1px;
    overflow: hidden;
    transform: translateZ(0px);
    transition-property: opacity;
    transition-duration: 250ms;
  }

  .zscroller-indicator-x {
    box-sizing: border-box;
    position: absolute;
    border-color: #ababab;
    background-color: #c9c9c9;
    border-radius: 7px;
    height: 100%;
    display: block;
  }

  .zscroller-indicator:hover,.zscroller-indicator-active {
    border-color: #ababab;
    background: #969696;
  }